## Week 5 Homework 

In this homework we'll put what we learned about Spark in practice.

For this homework we will be using the FHV 2019-10 data found here. [FHV Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz)

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/06 05:23:44 WARN Utils: Your hostname, queen resolves to a loopback address: 127.0.1.1; using 192.168.1.134 instead (on interface wlo1)
24/03/06 05:23:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/06 05:23:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Question 1
**Install Spark and PySpark** 

- Install Spark
- Run PySpark
- Create a local spark session
- Execute spark.version.

What's the output?

> [!NOTE]
> To install PySpark follow this [guide](https://github.com/DataTalksClub/data-engineering-zoomcamp/blob/main/05-batch/setup/pyspark.md)

In [3]:
print(spark.version)

3.3.2

### Question 2

**FHV October 2019**

Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.

Repartition the Dataframe to 6 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

- 1MB
- 6MB
- 25MB
- 87MB

In [4]:
!wc -l fhv_tripdata_2019-10.csv

1897494 fhv_tripdata_2019-10.csv

In [5]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [6]:
df.head()

Row(dispatching_base_num='B00009', pickup_datetime='2019-10-01 00:23:00', dropOff_datetime='2019-10-01 00:35:00', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00009')

In [7]:
import pandas as pd

In [8]:
!head -n 1001 fhv_tripdata_2019-10.csv > head.csv

In [14]:
df_pandas = pd.read_csv('head.csv')

In [15]:
df_pandas.iteritems = df_pandas.items

In [11]:
spark.createDataFrame(df_pandas).schema

TypeError: field Affiliated_base_number: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>

In [18]:
df_pandas['Affiliated_base_number'] = df_pandas['Affiliated_base_number'].fillna("")

In [19]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [20]:
from pyspark.sql import types

In [21]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropOff_datetime', types.TimestampType(), True), 
    types.StructField('PUlocationID', types.LongType(), True), 
    types.StructField('DOlocationID', types.LongType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)]
)

In [24]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [25]:
df.repartition(6).write.parquet('./data')

In [26]:
!ls -lah ./data

total 39M
drwxr-xr-x 2 pinku pinku 4.0K Mar  6 06:22 .
drwxrwxr-x 4 pinku pinku 4.0K Mar  6 06:23 ..
-rw-r--r-- 1 pinku pinku 6.4M Mar  6 06:22 part-00000-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet
-rw-r--r-- 1 pinku pinku  51K Mar  6 06:22 .part-00000-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet.crc
-rw-r--r-- 1 pinku pinku 6.4M Mar  6 06:22 part-00001-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet
-rw-r--r-- 1 pinku pinku  51K Mar  6 06:22 .part-00001-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet.crc
-rw-r--r-- 1 pinku pinku 6.4M Mar  6 06:22 part-00002-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet
-rw-r--r-- 1 pinku pinku  51K Mar  6 06:22 .part-00002-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet.crc
-rw-r--r-- 1 pinku pinku 6.4M Mar  6 06:22 part-00003-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet
-rw-r--r-- 1 pinku pinku  51K Mar  6 06:22 .part-00003-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet.crc
-rw-r--r-- 1 pinku pinku 6.4M Mar  6 06:22 part-00004-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet
-rw-r--r-- 1 pinku pinku  51K Mar  6 06:22 .part-00004-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet.crc
-rw-r--r-- 1 pinku pinku 6.4M Mar  6 06:22 part-00005-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet
-rw-r--r-- 1 pinku pinku  51K Mar  6 06:22 .part-00005-d10de12e-114c-4ad3-9b70-7b13ce852549-c000.snappy.parquet.crc
-rw-r--r-- 1 pinku pinku    0 Mar  6 06:22 _SUCCESS
-rw-r--r-- 1 pinku pinku    8 Mar  6 06:22 ._SUCCESS.crc

### Question 3: 

**Count records** 

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

- 108,164
- 12,856
- 452,470
- 62,610

> [!IMPORTANT]
> Be aware of columns order when defining schema

In [28]:
df.createOrReplaceTempView("FHV_Records")

In [29]:
spark.sql("""
SELECT count(*)
FROM FHV_Records
WHERE pickup_datetime >= '2019-10-15'
    AND pickup_datetime < '2019-10-16'
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

### Question 4: 

**Longest trip for each day** 

What is the length of the longest trip in the dataset in hours?

- 631,152.50 Hours
- 243.44 Hours
- 7.68 Hours
- 3.32 Hours

In [30]:
spark.sql("""
SELECT pickup_datetime
    , dropoff_datetime
    , (unix_timestamp(dropoff_datetime) - unix_timestamp(pickup_datetime)) / 3600  as tripdiff
FROM FHV_Records
ORDER BY tripdiff desc 
LIMIT 10
""").show()

+-------------------+-------------------+------------------+
|    pickup_datetime|   dropoff_datetime|          tripdiff|
+-------------------+-------------------+------------------+
|2019-10-11 18:00:00|2091-10-11 18:30:00|          631152.5|
|2019-10-28 09:00:00|2091-10-28 09:30:00|          631152.5|
|2019-10-31 23:46:33|2029-11-01 00:13:00| 87672.44083333333|
|2019-10-01 21:43:42|2027-10-01 21:45:23| 70128.02805555555|
|2019-10-17 14:00:00|2020-10-18 00:00:00|            8794.0|
|2019-10-26 21:26:00|2020-10-26 21:36:00| 8784.166666666666|
|2019-10-30 12:30:04|2019-12-30 13:02:08|1465.5344444444445|
|2019-10-25 07:04:57|2019-12-08 07:54:33|1057.8266666666666|
|2019-10-25 07:04:57|2019-12-08 07:21:11|1057.2705555555556|
|2019-10-01 13:47:17|2019-11-03 15:20:28| 794.5530555555556|
+-------------------+-------------------+------------------+



### Question 5: 

**User Interface**

Spark’s User Interface which shows the application's dashboard runs on which local port?

- 80
- 443
- 4040
- 8080

### Question 6: 

**Least frequent pickup location zone**

Load the zone lookup data into a temp view in Spark</br>
[Zone Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv)

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?</br>

- East Chelsea
- Jamaica Bay
- Union Sq
- Crown Heights North

In [31]:
zone_df = spark.read.csv("taxi_zone_lookup.csv", header=True)

In [33]:
zone_df.createOrReplaceTempView("zones")

In [34]:
zone_df.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [36]:
spark.sql("""
SELECT * 
FROM zones
LIMIT 5""").show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+

In [39]:
spark.sql("""
SELECT * 
FROM fhv_records
LIMIT 5""").show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+

In [37]:
spark.sql("""
SHOW VIEWS;
""").show()

+---------+-----------+-----------+
|namespace|   viewName|isTemporary|
+---------+-----------+-----------+
|         |fhv_records|       true|
|         |      zones|       true|
+---------+-----------+-----------+

In [38]:
spark.sql("""
SHOW TABLES;
""").show()

+---------+-----------+-----------+
|namespace|  tableName|isTemporary|
+---------+-----------+-----------+
|         |fhv_records|       true|
|         |      zones|       true|
+---------+-----------+-----------+

In [42]:
spark.sql("""
SELECT PULocationID
    , zone
    , COUNT(*) as cnt
FROM fhv_records 
    INNER JOIN zones
        ON PULocationID = LocationID
GROUP BY PULocationID, zone
ORDER BY cnt ASC
""").show()

+------------+--------------------+---+
|PULocationID|                zone|cnt|
+------------+--------------------+---+
|           2|         Jamaica Bay|  1|
|         105|Governor's Island...|  2|
|         111| Green-Wood Cemetery|  5|
|          30|       Broad Channel|  8|
|         120|     Highbridge Park| 14|
|          12|        Battery Park| 15|
|         207|Saint Michaels Ce...| 23|
|          27|Breezy Point/Fort...| 25|
|         154|Marine Park/Floyd...| 26|
|           8|        Astoria Park| 29|
|         128|    Inwood Hill Park| 39|
|         253|       Willets Point| 47|
|          96|Forest Park/Highl...| 53|
|          34|  Brooklyn Navy Yard| 57|
|          59|        Crotona Park| 62|
|          58|        Country Club| 77|
|          99|     Freshkills Park| 89|
|         190|       Prospect Park| 98|
|          54|     Columbia Street|105|
|         217|  South Williamsburg|110|
+------------+--------------------+---+
only showing top 20 rows

In [41]:
zone_df.show(270)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
|        21|     Brooklyn|    Bensonhurst East|   Boro Zone|
|        22|     Brooklyn|    Bensonhurst West|   Boro Zone|
|        23|Staten Island|Bloomfield/Emerso...|   Boro Zone|
|        24|    Manhattan|        Bloomingdale| Yellow Zone|
|        25|     Brooklyn|         Boerum Hill|   Boro Zone|
|        26|     Brooklyn|        Borough Park|   Boro Zone|
|        27|       Queens|Breezy Point/Fort...|   Boro Zone|
|        28|       Queens|Briarwood/Jamaica...|   Boro Zone|
|        29|     Brooklyn|      Brighton Beach|   Boro Zone|
|        30|       Queens|       Broad Channel|   Boro Zone|
|        31|        Bronx|          Bronx Park|   Boro Zone|
|        32|        Bronx|           Bronxdale|   Boro Zone|
|        33|     Brooklyn|    Brooklyn Heights|   Boro Zone|
|        34|     Brooklyn|  Brooklyn Navy Yard|   Boro Zone|
|        35|     Brooklyn|         Brownsville|   Boro Zone|
|        36|     Brooklyn|      Bushwick North|   Boro Zone|
|        37|     Brooklyn|      Bushwick South|   Boro Zone|
|        38|       Queens|     Cambria Heights|   Boro Zone|
|        39|     Brooklyn|            Canarsie|   Boro Zone|
|        40|     Brooklyn|     Carroll Gardens|   Boro Zone|
|        41|    Manhattan|      Central Harlem|   Boro Zone|
|        42|    Manhattan|Central Harlem North|   Boro Zone|
|        43|    Manhattan|        Central Park| Yellow Zone|
|        44|Staten Island|Charleston/Totten...|   Boro Zone|
|        45|    Manhattan|           Chinatown| Yellow Zone|
|        46|        Bronx|         City Island|   Boro Zone|
|        47|        Bronx|  Claremont/Bathgate|   Boro Zone|
|        48|    Manhattan|        Clinton East| Yellow Zone|
|        49|     Brooklyn|        Clinton Hill|   Boro Zone|
|        50|    Manhattan|        Clinton West| Yellow Zone|
|        51|        Bronx|          Co-Op City|   Boro Zone|
|        52|     Brooklyn|         Cobble Hill|   Boro Zone|
|        53|       Queens|       College Point|   Boro Zone|
|        54|     Brooklyn|     Columbia Street|   Boro Zone|
|        55|     Brooklyn|        Coney Island|   Boro Zone|
|        56|       Queens|              Corona|   Boro Zone|
|        57|       Queens|              Corona|   Boro Zone|
|        58|        Bronx|        Country Club|   Boro Zone|
|        59|        Bronx|        Crotona Park|   Boro Zone|
|        60|        Bronx|   Crotona Park East|   Boro Zone|
|        61|     Brooklyn| Crown Heights North|   Boro Zone|
|        62|     Brooklyn| Crown Heights South|   Boro Zone|
|        63|     Brooklyn|       Cypress Hills|   Boro Zone|
|        64|       Queens|          Douglaston|   Boro Zone|
|        65|     Brooklyn|Downtown Brooklyn...|   Boro Zone|
|        66|     Brooklyn|  DUMBO/Vinegar Hill|   Boro Zone|
|        67|     Brooklyn|       Dyker Heights|   Boro Zone|
|        68|    Manhattan|        East Chelsea| Yellow Zone|
|        69|        Bronx|East Concourse/Co...|   Boro Zone|
|        70|       Queens|       East Elmhurst|   Boro Zone|
|        71|     Brooklyn|East Flatbush/Far...|   Boro Zone|
|        72|     Brooklyn|East Flatbush/Rem...|   Boro Zone|
|        73|       Queens|       East Flushing|   Boro Zone|
|        74|    Manhattan|   East Harlem North|   Boro Zone|
|        75|    Manhattan|   East Harlem South|   Boro Zone|
|        76|     Brooklyn|       East New York|   Boro Zone|
|        77|     Brooklyn|East New York/Pen...|   Boro Zone|
|        78|        Bronx|        East Tremont|   Boro Zone|
|        79|    Manhattan|        East Village| Yellow Zone|
|        80|     Brooklyn|   East Williamsburg|   Boro Zone|
|        81|        Bronx|         Eastchester|   Boro Zone|
|        82|       Queens|            Elmhurst|   Boro Zone|
|        83|       Queens|    Elmhurst/Maspeth|   Boro Zone|
|        84|Staten Island|Eltingville/Annad...|   Boro Zone|
|        85|     Brooklyn|             Erasmus|   Boro Zone|
|        86|       Queens|        Far Rockaway|   Boro Zone|
|        87|    Manhattan|Financial Distric...| Yellow Zone|
|        88|    Manhattan|Financial Distric...| Yellow Zone|
|        89|     Brooklyn|Flatbush/Ditmas Park|   Boro Zone|
|        90|    Manhattan|            Flatiron| Yellow Zone|
|        91|     Brooklyn|           Flatlands|   Boro Zone|
|        92|       Queens|            Flushing|   Boro Zone|
|        93|       Queens|Flushing Meadows-...|   Boro Zone|
|        94|        Bronx|       Fordham South|   Boro Zone|
|        95|       Queens|        Forest Hills|   Boro Zone|
|        96|       Queens|Forest Park/Highl...|   Boro Zone|
|        97|     Brooklyn|         Fort Greene|   Boro Zone|
|        98|       Queens|       Fresh Meadows|   Boro Zone|
|        99|Staten Island|     Freshkills Park|   Boro Zone|
|       100|    Manhattan|    Garment District| Yellow Zone|
|       101|       Queens|           Glen Oaks|   Boro Zone|
|       102|       Queens|            Glendale|   Boro Zone|
|       103|    Manhattan|Governor's Island...| Yellow Zone|
|       104|    Manhattan|Governor's Island...| Yellow Zone|
|       105|    Manhattan|Governor's Island...| Yellow Zone|
|       106|     Brooklyn|             Gowanus|   Boro Zone|
|       107|    Manhattan|            Gramercy| Yellow Zone|
|       108|     Brooklyn|           Gravesend|   Boro Zone|
|       109|Staten Island|         Great Kills|   Boro Zone|
|       110|Staten Island|    Great Kills Park|   Boro Zone|
|       111|     Brooklyn| Green-Wood Cemetery|   Boro Zone|
|       112|     Brooklyn|          Greenpoint|   Boro Zone|
|       113|    Manhattan|Greenwich Village...| Yellow Zone|
|       114|    Manhattan|Greenwich Village...| Yellow Zone|
|       115|Staten Island| Grymes Hill/Clifton|   Boro Zone|
|       116|    Manhattan|    Hamilton Heights|   Boro Zone|
|       117|       Queens|     Hammels/Arverne|   Boro Zone|
|       118|Staten Island|Heartland Village...|   Boro Zone|
|       119|        Bronx|          Highbridge|   Boro Zone|
|       120|    Manhattan|     Highbridge Park|   Boro Zone|
|       121|       Queens|   Hillcrest/Pomonok|   Boro Zone|
|       122|       Queens|              Hollis|   Boro Zone|
|       123|     Brooklyn|           Homecrest|   Boro Zone|
|       124|       Queens|        Howard Beach|   Boro Zone|
|       125|    Manhattan|           Hudson Sq| Yellow Zone|
|       126|        Bronx|         Hunts Point|   Boro Zone|
|       127|    Manhattan|              Inwood|   Boro Zone|
|       128|    Manhattan|    Inwood Hill Park|   Boro Zone|
|       129|       Queens|     Jackson Heights|   Boro Zone|
|       130|       Queens|             Jamaica|   Boro Zone|
|       131|       Queens|     Jamaica Estates|   Boro Zone|
|       132|       Queens|         JFK Airport|    Airports|
|       133|     Brooklyn|          Kensington|   Boro Zone|
|       134|       Queens|         Kew Gardens|   Boro Zone|
|       135|       Queens|   Kew Gardens Hills|   Boro Zone|
|       136|        Bronx| Kingsbridge Heights|   Boro Zone|
|       137|    Manhattan|            Kips Bay| Yellow Zone|
|       138|       Queens|   LaGuardia Airport|    Airports|
|       139|       Queens|           Laurelton|   Boro Zone|
|       140|    Manhattan|     Lenox Hill East| Yellow Zone|
|       141|    Manhattan|     Lenox Hill West| Yellow Zone|
|       142|    Manhattan| Lincoln Square East| Yellow Zone|
|       143|    Manhattan| Lincoln Square West| Yellow Zone|
|       144|    Manhattan| Little Italy/NoLiTa| Yellow Zone|
|       145|       Queens|Long Island City/...|   Boro Zone|
|       146|       Queens|Long Island City/...|   Boro Zone|
|       147|        Bronx|            Longwood|   Boro Zone|
|       148|    Manhattan|     Lower East Side| Yellow Zone|
|       149|     Brooklyn|             Madison|   Boro Zone|
|       150|     Brooklyn|     Manhattan Beach|   Boro Zone|
|       151|    Manhattan|    Manhattan Valley| Yellow Zone|
|       152|    Manhattan|      Manhattanville|   Boro Zone|
|       153|    Manhattan|         Marble Hill|   Boro Zone|
|       154|     Brooklyn|Marine Park/Floyd...|   Boro Zone|
|       155|     Brooklyn|Marine Park/Mill ...|   Boro Zone|
|       156|Staten Island|     Mariners Harbor|   Boro Zone|
|       157|       Queens|             Maspeth|   Boro Zone|
|       158|    Manhattan|Meatpacking/West ...| Yellow Zone|
|       159|        Bronx|       Melrose South|   Boro Zone|
|       160|       Queens|      Middle Village|   Boro Zone|
|       161|    Manhattan|      Midtown Center| Yellow Zone|
|       162|    Manhattan|        Midtown East| Yellow Zone|
|       163|    Manhattan|       Midtown North| Yellow Zone|
|       164|    Manhattan|       Midtown South| Yellow Zone|
|       165|     Brooklyn|             Midwood|   Boro Zone|
|       166|    Manhattan| Morningside Heights|   Boro Zone|
|       167|        Bronx|  Morrisania/Melrose|   Boro Zone|
|       168|        Bronx|Mott Haven/Port M...|   Boro Zone|
|       169|        Bronx|          Mount Hope|   Boro Zone|
|       170|    Manhattan|         Murray Hill| Yellow Zone|
|       171|       Queens|  Murray Hill-Queens|   Boro Zone|
|       172|Staten Island|New Dorp/Midland ...|   Boro Zone|
|       173|       Queens|        North Corona|   Boro Zone|
|       174|        Bronx|             Norwood|   Boro Zone|
|       175|       Queens|     Oakland Gardens|   Boro Zone|
|       176|Staten Island|             Oakwood|   Boro Zone|
|       177|     Brooklyn|          Ocean Hill|   Boro Zone|
|       178|     Brooklyn| Ocean Parkway South|   Boro Zone|
|       179|       Queens|         Old Astoria|   Boro Zone|
|       180|       Queens|          Ozone Park|   Boro Zone|
|       181|     Brooklyn|          Park Slope|   Boro Zone|
|       182|        Bronx|         Parkchester|   Boro Zone|
|       183|        Bronx|          Pelham Bay|   Boro Zone|
|       184|        Bronx|     Pelham Bay Park|   Boro Zone|
|       185|        Bronx|      Pelham Parkway|   Boro Zone|
|       186|    Manhattan|Penn Station/Madi...| Yellow Zone|
|       187|Staten Island|       Port Richmond|   Boro Zone|
|       188|     Brooklyn|Prospect-Lefferts...|   Boro Zone|
|       189|     Brooklyn|    Prospect Heights|   Boro Zone|
|       190|     Brooklyn|       Prospect Park|   Boro Zone|
|       191|       Queens|      Queens Village|   Boro Zone|
|       192|       Queens|     Queensboro Hill|   Boro Zone|
|       193|       Queens|Queensbridge/Rave...|   Boro Zone|
|       194|    Manhattan|     Randalls Island| Yellow Zone|
|       195|     Brooklyn|            Red Hook|   Boro Zone|
|       196|       Queens|           Rego Park|   Boro Zone|
|       197|       Queens|       Richmond Hill|   Boro Zone|
|       198|       Queens|           Ridgewood|   Boro Zone|
|       199|        Bronx|       Rikers Island|   Boro Zone|
|       200|        Bronx|Riverdale/North R...|   Boro Zone|
|       201|       Queens|       Rockaway Park|   Boro Zone|
|       202|    Manhattan|    Roosevelt Island|   Boro Zone|
|       203|       Queens|            Rosedale|   Boro Zone|
|       204|Staten Island|   Rossville/Woodrow|   Boro Zone|
|       205|       Queens|        Saint Albans|   Boro Zone|
|       206|Staten Island|Saint George/New ...|   Boro Zone|
|       207|       Queens|Saint Michaels Ce...|   Boro Zone|
|       208|        Bronx|Schuylerville/Edg...|   Boro Zone|
|       209|    Manhattan|             Seaport| Yellow Zone|
|       210|     Brooklyn|      Sheepshead Bay|   Boro Zone|
|       211|    Manhattan|                SoHo| Yellow Zone|
|       212|        Bronx|  Soundview/Bruckner|   Boro Zone|
|       213|        Bronx|Soundview/Castle ...|   Boro Zone|
|       214|Staten Island|South Beach/Donga...|   Boro Zone|
|       215|       Queens|       South Jamaica|   Boro Zone|
|       216|       Queens|    South Ozone Park|   Boro Zone|
|       217|     Brooklyn|  South Williamsburg|   Boro Zone|
|       218|       Queens|Springfield Garde...|   Boro Zone|
|       219|       Queens|Springfield Garde...|   Boro Zone|
|       220|        Bronx|Spuyten Duyvil/Ki...|   Boro Zone|
|       221|Staten Island|           Stapleton|   Boro Zone|
|       222|     Brooklyn|       Starrett City|   Boro Zone|
|       223|       Queens|            Steinway|   Boro Zone|
|       224|    Manhattan|Stuy Town/Peter C...| Yellow Zone|
|       225|     Brooklyn|  Stuyvesant Heights|   Boro Zone|
|       226|       Queens|           Sunnyside|   Boro Zone|
|       227|     Brooklyn|    Sunset Park East|   Boro Zone|
|       228|     Brooklyn|    Sunset Park West|   Boro Zone|
|       229|    Manhattan|Sutton Place/Turt...| Yellow Zone|
|       230|    Manhattan|Times Sq/Theatre ...| Yellow Zone|
|       231|    Manhattan|TriBeCa/Civic Center| Yellow Zone|
|       232|    Manhattan|Two Bridges/Sewar...| Yellow Zone|
|       233|    Manhattan| UN/Turtle Bay South| Yellow Zone|
|       234|    Manhattan|            Union Sq| Yellow Zone|
|       235|        Bronx|University Height...|   Boro Zone|
|       236|    Manhattan|Upper East Side N...| Yellow Zone|
|       237|    Manhattan|Upper East Side S...| Yellow Zone|
|       238|    Manhattan|Upper West Side N...| Yellow Zone|
|       239|    Manhattan|Upper West Side S...| Yellow Zone|
|       240|        Bronx|  Van Cortlandt Park|   Boro Zone|
|       241|        Bronx|Van Cortlandt Vil...|   Boro Zone|
|       242|        Bronx|Van Nest/Morris Park|   Boro Zone|
|       243|    Manhattan|Washington Height...|   Boro Zone|
|       244|    Manhattan|Washington Height...|   Boro Zone|
|       245|Staten Island|       West Brighton|   Boro Zone|
|       246|    Manhattan|West Chelsea/Huds...| Yellow Zone|
|       247|        Bronx|      West Concourse|   Boro Zone|
|       248|        Bronx|West Farms/Bronx ...|   Boro Zone|
|       249|    Manhattan|        West Village| Yellow Zone|
|       250|        Bronx|Westchester Villa...|   Boro Zone|
|       251|Staten Island|         Westerleigh|   Boro Zone|
|       252|       Queens|          Whitestone|   Boro Zone|
|       253|       Queens|       Willets Point|   Boro Zone|
|       254|        Bronx|Williamsbridge/Ol...|   Boro Zone|
|       255|     Brooklyn|Williamsburg (Nor...|   Boro Zone|
|       256|     Brooklyn|Williamsburg (Sou...|   Boro Zone|
|       257|     Brooklyn|     Windsor Terrace|   Boro Zone|
|       258|       Queens|           Woodhaven|   Boro Zone|
|       259|        Bronx|  Woodlawn/Wakefield|   Boro Zone|
|       260|       Queens|            Woodside|   Boro Zone|
|       261|    Manhattan|  World Trade Center| Yellow Zone|
|       262|    Manhattan|      Yorkville East| Yellow Zone|
|       263|    Manhattan|      Yorkville West| Yellow Zone|
|       264|      Unknown|                  NV|         N/A|
|       265|      Unknown|                  NA|         N/A|
+----------+-------------+--------------------+------------+