In [15]:
import pandas as pd

In [16]:
pd.__version__

'1.3.5'

In [17]:
csv_file='green_tripdata_2019-09.csv'

In [18]:
from sqlalchemy import create_engine

In [19]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
print(pd.io.sql.get_schema(df, name='green_trip', con=engine))

CREATE TABLE green_trip (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag FLOAT(53),
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv(csv_file, iterator=True, chunksize=10000, encoding="ISO-8859-1")

In [22]:
df = next(df_iter)

In [23]:
len(df)

10000

In [24]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [25]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [26]:
df.head(n=0).to_sql(name='green_trip', con=engine, if_exists='replace')

In [27]:
from time import time

In [28]:
while True: 
    t_start = time()

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_trip', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))
    
    df = next(df_iter)

inserted another chunk, took 0.811 second
inserted another chunk, took 0.730 second
inserted another chunk, took 0.707 second
inserted another chunk, took 0.738 second
inserted another chunk, took 0.677 second
inserted another chunk, took 0.711 second
inserted another chunk, took 0.845 second
inserted another chunk, took 0.716 second
inserted another chunk, took 0.725 second
inserted another chunk, took 0.745 second
inserted another chunk, took 0.695 second
inserted another chunk, took 0.690 second
inserted another chunk, took 0.736 second
inserted another chunk, took 0.690 second
inserted another chunk, took 0.690 second
inserted another chunk, took 0.741 second
inserted another chunk, took 0.688 second
inserted another chunk, took 0.688 second
inserted another chunk, took 0.742 second
inserted another chunk, took 0.702 second
inserted another chunk, took 0.701 second
inserted another chunk, took 0.688 second
inserted another chunk, took 0.788 second
inserted another chunk, took 0.664 second
inserted another chunk, took 0.651 second
inserted another chunk, took 0.724 second
inserted another chunk, took 0.677 second
inserted another chunk, took 0.666 second
inserted another chunk, took 0.720 second
inserted another chunk, took 0.663 second
inserted another chunk, took 0.662 second
inserted another chunk, took 0.680 second
inserted another chunk, took 0.706 second
inserted another chunk, took 0.704 second
inserted another chunk, took 0.684 second
inserted another chunk, took 0.709 second
inserted another chunk, took 0.691 second
inserted another chunk, took 0.666 second
inserted another chunk, took 0.733 second
inserted another chunk, took 0.606 second
inserted another chunk, took 0.577 second
inserted another chunk, took 0.643 second
inserted another chunk, took 0.567 second
inserted another chunk, took 0.569 second
inserted another chunk, took 0.570 second

StopIteration: